// Styles are used only for index.html, see global.css for global styles like background color and fonts

// Yes I'm using less.css and less.css variables are better, but these need to be changed with javascript
:root {
    // bg variable is added in global.css
    --option-bg: #e9e9ed;
    --option-hover-bg: rgb(213, 211, 211);
    --option-border-color: #c4c4c5;
    --progress-bar-color: #0d80bd;
    --progress-bar-bg: #c6c6c6;
    --text-color: #000000;
    --secondary-text-color: rgb(97, 97, 97);
    --link-color: #2e2ef1;
    --gray-btn-color: rgb(212, 212, 212);
    --gray-btn-hover: rgb(197, 196, 196);
}

@import url('popup.less');
@import url('buttons.less');

body {
    overflow: hidden;
    color: var(--text-color);
}

a {
    color: var(--link-color);
}
a:visited {
    color: var(--link-color);
}

.screen {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
}

.play {
    margin-bottom: 15px;
}

#flag-svg {
    height: 20vw;
    padding: 20px;
}

#options {
    column-count: 2;
    width: 100vw;
    left: 0;
}

#close-btn {
    width: 43px;
    height: 43px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 5px;
    margin-top: 0px;
}

.option {
    width: 100%;
    display: inline;
    margin-bottom: 5px;
    height: 50px;
    transition: background 300ms;
    border: var(--option-border-color) 1px solid;
    background-color: var(--option-bg);
    color: var(--text-color);
    &:hover {
        background-color: var(--option-hover-bg);
    }
}

#progress-container {
    width: calc(100% - 85px);
    height: 15px;
    margin: 10px;
    margin-inline: 25px;
    border-radius: 20px;
    background-color: var(--progress-bar-bg);
}
#progress-fill {
    width: 0%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--progress-bar-color);
    position: relative;
    left: 0;
    top: 0;
    transition: width 200ms;
}
ul {
    list-style: none;
    padding-left: 25px;
}

@media (max-width: 610px) {
   #options {
    column-count: 1;
   }
}

#streak-container, #sub-streak {
    color: rgb(255, 128, 0);
}
#sub-quiz-score {
    color: rgb(13, 128, 189);
}
.capitalize {
    text-transform: capitalize;
}

// Difficulty display
#difficulty-container {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--bg);
    padding: 6px;
}

.corner-item {
    margin: 5px;
    position: fixed;
}

#game-info {
    color: var(--secondary-text-color);
    bottom: 0;
    right: 0;
    background-color: var(--bg);
    font-size: 12px;
    text-align: right;
    .corner-item()
}

.spacer {
    margin-bottom: 15px;
}

#view-flag-btn {
    cursor: pointer;
    transform: scale(0.85);
}